<div class="description-gasoducto">
  <div class="container">
    <div class="intro">
      <h1 class="text-center">GASODUCTO CORREDOR CHIHUAHUA</h1>
      <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
        pellentesque ut laoreet vitae.</p>
    </div>
    <div class="card-deck">
      <div class="card">
        <img src="http://via.placeholder.com/640x360" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">DIAMETRO</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">...</small>
        </div>
      </div>
      <div class="card">
        <img src="http://via.placeholder.com/640x360" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">LONGITUD</h3>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">....</small>
        </div>
      </div>
      <div class="card">
        <img src="http://via.placeholder.com/640x360" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">CAPACIDAD RESERVADA</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">....</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="puntos-inyeccion-list">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">PUNTOS DE INYECCION</h2>
      <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
        pellentesque ut laoreet vitae. </p>
    </div>
    <div class="row punto-inyeccion">
      <div class="col-sm-6 col-md-4 item">
        <a href="#">
          <img src="http://via.placeholder.com/640x360" class="img-fluid mx-auto d-block" alt="">
          <h3 class="name"> CACTUS HILL</h3>
          <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, ducimus ab! Quos porro dignissimos aperiam repellat maxime nostrum alias ea quaerat beatae eius mollitia sequi architecto reprehenderit magni, laborum nihil.</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="puntos-entrega-list">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">PUNTOS DE ENTREGA</h2>
      <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
        pellentesque ut laoreet vitae. </p>
    </div>
  </div>

  <router-outlet></router-outlet>
